/* mobile device resposive */
@media screen and (max-width:576px) {

    .nav-menu,
    .nav-container {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .nav-icon {

        justify-content: center;
        width: 100%;
    }

    .banner-container {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        gap: 10px;
    }

    .banner-img {
        width: 90%;
        margin: 0px auto;
    }

    .banner-section {
        background: none;
    }

    .banner-content-container {

        background-image: url("../images/bg.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
        background-position: left;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .banner-content {
        padding: 40px 0px;
    }

    .banner-content h3 {
        font-size: 25px;
    }

    .banner-content h1 {
        font-size: 40px;
    }

    .common-paragraph {
        font-size: 15px;
    }

    .btn-primary,
    .btn-single {
        padding: 10px 20px;
        margin: 5px;
    }

    .online-games-section {
        width: 100%;
    }

    .online-games-container {
        grid-template-columns: 1fr;
        justify-items: center;
    }


    .primary-title {
        font-size: 30px;
    }



    .instant-game-section {
        flex-direction: column;
        width: 100%;

    }


    .instant-game-container {
        width: 100%;
    }

    .instant-game-img {
        width: 65%;
        margin: 20px auto;

    }


    .instant-game-description {
        width: 100%;
        text-align: center;
    }

    .parent-img {
        max-width: 300px;
        max-height: 350px;
    }

    .child-img {
        max-width: 100px;
        margin-top: 230px;
        margin-left: -50px;
    }

    .service-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);

        gap: 20px;
    }
    .social-link-container{
        grid-template-columns: repeat(3,1fr);
        gap: 30px;
    }
    .policy-container{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 80%;
        margin: 20px auto;
    }
    .game-world-container{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        max-width: 80%;
        margin: 10px auto;
    }
    .game-world-img-card{
        padding: 0px;
        width: 80px;
        height: 30px;
        gap: 0px;
    }

    .game-world-img-card img{
        width: 30px;
        height: 30px;

    }
    .game-world-img-card p{
        font-size: 6px;
    }


}


/* tablet device responsive */
@media screen and (min-width:576px) and (max-width:875px) {

    .nav-menu,
    .nav-container {
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }

    .nav-icon {

        justify-content: center;
        width: 100%;
    }


    .banner-container {
        flex-direction: column;
        flex-direction: column-reverse;
        width: 100%;
        gap: 10px;
    }

    .banner-img {
        width: 90%;
        margin: 0px auto;
    }

    .banner-section {
        background: none;
    }

    .banner-content-container {

        background-image: url("../images/bg.png"), linear-gradient(223deg, rgba(140, 87, 238, 0.03) 0%, rgba(241, 68, 174, 0.03) 100%);
        background-position: left;
        background-size: 100%;
        background-repeat: no-repeat;
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .banner-content {
        padding: 60px 0px;
    }

    .online-games-container {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
    }


    .instant-game-section{
        flex-direction: column;
        width: 100%;

    }
    .instant-game-description {
        width: 100%;
        text-align: center;
    }
    .instant-game-container {
        width: 100%;
    }
    .instant-game-img{
        width: 66%;
        margin: 30px auto;
    }

}