/* mobile device resposive */
@media screen and (max-width:576px) {
    .nav-menu,
    .nav-container{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .nav-icon {
        
        justify-content: center;
        width: 100%;
    }

    
}


/* tablet device responsive */
@media screen and (min-width:576px) and (max-width:875px) {
    .nav-menu,
    .nav-container{
        flex-direction: column;
        gap: 15px;
        width: 100%;
    }
    .nav-icon {
        
        justify-content: center;
        width: 100%;
    }
    
}